:root {
  --color-base-primary: hsl(25, 97%, 53%);
  --color-base-bg: hsl(223, 19%, 93%);
  --color-base-text: hsl(211, 10%, 45%);
  --color-base-container-bg: hsl(228, 33%, 97%);
  --color-base-container-rating: hsl(223, 19%, 93%);

  /* Primary */
  --color-moderate-blue: hsl(238, 40%, 52%);
  --color-light-gray: hsl(223, 19%, 93%);
  --color-soft-red: hsl(0, 0%, 0%);
  --color-light-grayish-blue: hsl(239, 57%, 85%);
  --color-pale-red: hsl(357, 100%, 86%);

  /* Neutral */
  --color-dark-blue: hsl(212, 24%, 26%);
  --color-white: hsl(0, 0%, 100%);

  --padding: 20px;
  --gap: 20px;
  --border-radius: 12px;
  --margin: 20px;
}

body {
  padding: 35px 10px;
  display: grid;
  height: auto;

  background: var(--color-base-bg);
  font-family: "Rubik", sans-serif;
}

p,
time {
  font-size: 1rem;
  letter-spacing: 0.6px;
  color: var(--color-base-text);
}

.comment__user-name {
  font-weight: 600;
  text-transform: lowercase;
}

.comment-container {
  display: grid;
  grid-template: repeat(4, auto) / 0.45fr auto repeat(3, auto);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-bottom: var(--margin);
  background: var(--color-base-container-bg);
}

.comment__user-info {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  border: 1px solid red;
  text-align: left;
  align-self: center;
}

.comment__avatar {
  height: 40px;
  width: 40px;

  grid-column: 1 / 2;
}

.comment__text {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  text-align: left;
  margin-bottom: var(--margin);
}

.comment__rating {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  color: var(--color-moderate-blue);
  border-radius: 10px;
  gap: 10px;
  padding: 10px 10px;
  background: var(--color-base-container-rating);
}

.comment__rating .fa-plus,
.comment__rating .fa-minus {
  color: var(--color-light-grayish-blue);
}

.comment__rating .fa-plus:hover,
.comment__rating .fa-minus:hover {
  cursor: pointer;
  color: var(--color-moderate-blue);
}

.comment__number {
  font-size: 1.1rem;
  font-weight: 600;
}

.comment__reply {
  grid-column: 5 / 6;

  display: grid;
  grid-template-columns: auto auto;
  place-items: center end;
  gap: 10px;
  color: var(--color-moderate-blue);
  font-weight: 600;
}

.comment__reply:hover {
  cursor: pointer;
  color: var(--color-light-grayish-blue);
}

.reply-container {
  display: grid;
  /* width: 100%; */
  /* grid-template: auto / 0.08fr 1fr; */
  grid-template: auto auto / 1fr 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: var(--gap);
  border-radius: var(--border-radius);
  /* background: var(--color-base-container-bg); */
  background: var(--color-base-container-bg);
  background: var(--color-base-container-bg);

  /* height: 100%; */
  padding: var(--padding);
  margin-bottom: var(--margin);
}

.answer {
  margin-top: 0;
}

.reply__form {
  appearance: none;
  min-width: 100%;
  min-height: 100px;
  padding: var(--padding);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
  color: var(--color-base-text);
  font-family: "Rubik", sans-serif;
  resize: none;

  grid-column: 1 / -1;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.reply__form:focus {
  outline: none;
  border: 1px solid var(--color-moderate-blue);
}

.reply__form::placeholder {
  /* font-weight: 600; */
  letter-spacing: 0.5px;
}

.reply__submit-btn {
  grid-row: 2 / 3;
  grid-column: 3 / -1;

  background-color: var(--color-moderate-blue);
  color: var(--color-white);
  font-weight: 600;
  padding: 15px 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.reply__submit-btn:hover {
  background: var(--color-light-grayish-blue);
}

/* -------------------------- */

/* MEDIA QUERY */

@media (min-width: 768px) {
  body {
    padding: 50px 250px;
    place-items: center;
  }

  .comment-container {
    grid-template: repeat(3, auto) / 0.1fr 0.1fr 0.5fr 0.5fr auto;
    column-gap: 20px;
  }

  .comment__avatar {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .comment__user-info {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
  }

  .comment__reply {
    grid-row: 1 / 2;
    grid-column: 6 / -1;
    gap: 8px;
  }

  .comment__rating {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template: auto auto auto / auto;
    padding: 10px 10px;
  }

  .comment__text {
    grid-row: 2 / 4;
    grid-column: 2 / 7;
    margin-bottom: 0;
  }

  /* REPLY CONTAINER  */
  .reply-container {
    grid-template: auto auto / 0.1fr 1fr 1fr 0.1fr;
    gap: 10px;
    width: 93%;
    max-width: 100%;
  }

  .reply__form {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    min-width: 77%;
  }

  .reply__submit-btn {
    grid-row: 1 / 2;
    grid-column: 4 / -1;

    padding: 15px 27px;
  }

  .reply__avatar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}
